@media screen and (max-width: 1230px) {
  /* How does this work? */
  .does-work {
    &__checking {
      &-point {
        &__text {
          font-size: 16px;
        }
      }
    }
  }
  /* How does this work? */

  /* What is the price */
  .what-price {
    &__point {
      &-label {
        font-size: 16px;
      }
    }

    &__text {
      &--sale {
        font-size: 16px;
      }
    }

    &__tile {
      &-details {
        &__footer {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          gap: 25px;
          margin-top: 25px;
          padding: 0;

          &-price {
            justify-content: center;
          }
          &-button {
            justify-content: center;
          }
        }
      }
    }
  }
  /* What is the price */
}

@media screen and (max-width: 1023px) {

  /* media for BR tag */
  .br-show-tablet {
    display: block;
  }
  .br-hidden-tablet {
    display: none;
  }
  /* media for BR tag */

  /* Top banner */
  .intro-banner {
    &__outer {

      &--rent {
        padding-top: 62px;
        padding-bottom: 36px;
      }

      &--sale, &--management {
        padding-top: 49px;
        padding-bottom: 68px;
      }
    }

    &--rent {
      background: linear-gradient(0deg, #EAECF1, #EAECF1), linear-gradient(106.38deg, rgba(255, 255, 255, 0.9) 1.12%, rgba(255, 255, 255, 0.441) 44.09%, rgba(255, 255, 255, 0.216) 59.21%), url('../images/rent/banner-transparent.png');
      min-height: auto;
      padding: 43px 15px 51px;
      justify-content: flex-end;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      border-radius: 14px;

      .intro-banner {

        &__inner {
          margin-left: 0;
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        &__title {
          font-size: 32px;
          line-height: 1.41;
        }

        &__text {
          font-size: 16px;
          line-height: 1.62;
        }
      }
    }

    &--sale, &--management {
      padding: 0 15px;
      min-height: 369px;

      .intro-banner {

        &__inner {
          margin-left: 0;
        }

        &__title {
          font-size: 32px;
          line-height: 1.41;

          &--accent {
            color: #000000;
          }
        }

        &__text {
          margin-top: 25px;
        }
      }
    }

    &--sale {
      background-image: url('../images/sale/sale-banner-tablet.jpg');
    }

    &--management {
      background-image: url('../images/management/management-banner-tablet.jpg');

      .intro-banner {
        &__inner {
          &--management {
            padding-top: 60px;
          }
        }
      }
    }

  }
  /* Top banner */

  /* How does this work? */
  .does-work {

    &__outer {
      padding-top: 50px;
      padding-bottom: 32px;

      &--white {
        padding-top: 50px;
        padding-bottom: 32px;
      }
    }

    grid-template-columns: repeat(2, 1fr);
    gap: 18px;

    &__checking {

      &-header {
        padding: 25px;
        border-radius: 20px 0 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
      }

      &-footer {
        padding: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0;

        & > * {
          width: 50%;
        }
      }

    }

    &--management {
      grid-template-columns: repeat(1, 1fr);
    }

  }
  /* How does this work? */

  /* why are we? */
  .why-are {
    &__outer {
      padding-top: 55px;
      padding-bottom: 55px;
    }

    &__line {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 28px;

      &--reverse {
        .why-are__picture {
          order: initial;
        }
      }

      & + .why-are__line {
        margin-top: 30px;
      }
    }

    &__content {
      max-width: none;
      width: 100%;
    }

    &__picture {

      &-image {
        max-width: none;
        width: 100%;
      }
    }
  }
  /* why are we? */

  /* What is the price */
  .what-price {

    &__outer {
      padding-top: 50px;
      padding-bottom: 50px;

      &--management {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    &__inner {
      border-color: rgba(0, 0, 0, 0.4);
      background-color: transparent;
      border-radius: 14px;

      &--sale {
        border-color: rgba(213, 225, 225, 0.4);
      }
    }

    &__line {
      grid-template-columns: 1fr .245fr;

      &:nth-child(2n) {
        background-color: #FFFFFF;
      }

      &:first-of-type {
        border-radius: 14px 14px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 14px 14px;
      }

      &--sale {
        grid-template-columns: 1fr .245fr .245fr;

        .what-price__text {
          font-size: 16px;
        }

        .what-price__text-sub {
          font-size: 12px;
        }

        .what-price__image {
          width: 23px;
          height: auto;
        }

        .what-price__percentage-number {
          font-size: 30px;
        }

        .what-price__point {
          border-left-color: rgba(213, 225, 225, 0.4);
        }

      }
    }

    &__text {
      padding: 25px;
    }

    &__tile {
      padding: 30px;

      & + .what-price__tile {
        margin-top: 18px;
      }

      &-inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px 0;
      }

      &-description {
        &__title {
          font-size: 26px;
        }
        &__subtitle {
          font-size: 20px;
        }
      }

      &-details {
        max-width: none;

        &__footer {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
          margin-top: 30px;
          padding: 0 50px;
          &-price {
            justify-content: flex-start;
          }
          &-button {
            justify-content: flex-end;
          }
        }
      }
    }
  }
  /* What is the price */

  /* free estimate */
  .free-estimate {

    &__outer {
      background-image: url('../images/sale/sale-form-tablet.jpg');
      padding-top: 55px;
      padding-bottom: 55px;
    }

    &__inner {
      border-radius: 13px;
    }

    &__header {
      font-size: 28px;
      border-radius: 13px 13px 0 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__content {
      padding: 40px;
      border-radius: 0 0 13px 13px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 26px 20px;
    }

  }
  /* free estimate */

  /* We are close */
  .we-close {

    &__outer {
      padding-top: 55px;
      padding-bottom: 55px;
    }

    &__inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 20px;
    }

    &__image {
      max-width: none;
    }

    &__content {
      max-width: none;
    }
  }
  /* We are close */

  /* Frequently asked Questions */
  .management-questions {

    &__outer {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__item {

      &-header {
        font-size: 20px;
      }

      &-content {
        font-size: 16px;
      }

    }

  }
  /* Frequently asked Questions */

  /* We are also ready */
  .we-ready {
    &__outer {
      padding-top: 50px;
      padding-bottom: 50px;
      .tile-counter__number {
        width: 58px;
        height: 58px;
        font-size: 20px;
      }
      .tile-counter__title {
        font-size: 15px;
      }
    }
  }
  /* We are also ready */

  /* bottom feedback form */
  .bottom-feedback {

    &__outer {
      padding-top: 55px;
      padding-bottom: 55px;
    }

    &__header {
      margin-bottom: 45px;
    }

    &__field {

      &--btn {
        height: 68px;
        font-size: 22px;
      }

      &--input {
        height: 68px;
        font-size: 22px;
      }
    }

  }
  /* bottom feedback form */

  /* Tile counter */
  .tile-counter {
    padding: 20px;

    &__title {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 20px;

      &--big {
        font-size: 26px;
        margin-top: 0;
      }
    }

    &__text {
      font-size: 16px;

      &--big {
        font-size: 20px;
        margin-top: 25px;
      }
    }

    &__list {
      &-item {
        font-size: 16px;
      }
    }

    &__number {
      width: 80px;
      height: 80px;
      font-size: 30px;
    }

    &--advertise {
      grid-column: span 1;
      background-image: url('../images/rent/advertise-tablet.jpeg');
    }

    &--search-for-tenants {
      background-image: url('../images/management/search-for-tenants-tablet.jpg');
      min-height: 585px;
    }

    &--tenant {
      background-image: url('../images/management/tenant-tablet.jpg');
      background-position: right center;
      min-height: 201px;
    }

    &--yield {
      background-image: url('../images/management/benefits-tablet.svg');
      background-position: bottom 22px center;
      background-size: calc(100% - 40px) auto;
      min-height: 382px;
    }

    &--expertise {
      background-image: url('../images/management/expertise-tablet.jpg');
      min-height: 201px;
    }

    &--technical {
      background-image: url('../images/management/does-work-technical-tablet.jpg');
      background-position: center right -20px;
    }

    &--checking {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      padding: 0;
    }

    &--horizontal-two {
      grid-column: span 1;
    }

    &--vertical-two {
      grid-row: span 1;
    }

  }
  /* Tile counter */

  /* Header line */
  .header-line {
    margin-bottom: 45px;
  }
  /* Header line */
}

@media screen and (max-width: 991px) {
  /* What is the price */
  .what-price {
    &__point {
      &-label {
        font-size: 14px;
      }
    }

    &__text {
      &--sale {
        font-size: 14px;
      }
    }
  }
  /* What is the price */
}

@media screen and (max-width: 767px) {

  /* media for BR tag */
  .br-show-mobile {
    display: block;
  }
  .br-hidden-mobile {
    display: none;
  }
  /* media for BR tag */

  /* Top banner */
  .intro-banner {

    &__outer {

      &--rent {
        padding-top: 36px;
        padding-bottom: 36px;
      }

      &--sale, &--management {
        padding-top: 28px;
        padding-bottom: 40px;
      }
    }

    &--rent {
      padding: 80px 8px 56px;

      .intro-banner {
        &__title {
          font-size: 23px;
        }

        &__text {
          font-size: 12px;
          margin-top: 38px;

          & + .intro-banner__text {
            margin-top: 16px;
          }
        }
      }
    }

    &--sale, &--management {
      background-color: #F4F6FB;
      background-size: auto;
      border-radius: 14px;
      padding: 0 10px;
      min-height: 372px;

      .intro-banner {
        &__title {
          font-size: 23px;
          line-height: 1.52;
        }

        &__text {
          font-size: 12px;
          line-height: 1.67;
          margin-top: 19px;
        }
      }
    }

    &--sale {
      background-image: url('../images/sale/sale-banner-mobile.jpg');
    }

    &--management {
      background-image: url('../images/management/management-banner-tablet.jpg');
      background-position: right 60% top 0;
    }

  }
  /* Top banner */

  /* How does this work? */
  .does-work {

    &__outer {
      padding-bottom: 50px;

      &--white {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    grid-template-columns: 1fr;
    gap: 20px;

    &__checking {

      &-header {
        border-radius: 20px 20px 0 0;
      }

      &-footer {
        justify-content: center;
        align-items: flex-start;
        border-radius: 0 0 20px 20px;

        & > * {
          width: auto;
        }
      }
    }

  }
  /* How does this work? */

  /* why are we? */
  .why-are {

    &--hidden-br {
      display: none;
    }

    &__outer {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__line {
      gap: 12px;
    }

    &__content {

      &-title {
        font-size: 18px;
        line-height: 1.5;
      }

      &-text {
        font-size: 16px;
        line-height: 1.69;
        margin-top: 12px;
      }
    }

  }
  /* why are we? */

  /* What is the price */
  .what-price {

    &__outer {
      padding-bottom: 38px;

      &--management {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    &__inner {
      &--sale {
        border: none
      }
    }

    &__line {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      &:first-of-type {
        display: none;
      }

      &:nth-child(2) {
        border-radius: 14px 14px 0 0;
      }

      &--sale {
        border-left: 1px solid rgba(213, 225, 225, 0.4);
        border-right: 1px solid rgba(213, 225, 225, 0.4);

        &:nth-child(1n) {
          background-color: #FFFFFF;
        }

        &:nth-child(2n + 1) {
          background-color: #F4FAFB;
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          border-radius: 14px 14px 0 0;
          border-top: 1px solid rgba(213, 225, 225, 0.4);
        }

        &:nth-child(9) {
          border-radius: 0 0 14px 14px;
          border-bottom: 1px solid rgba(213, 225, 225, 0.4);
        }

        &:nth-last-child(3) {
          background-color: #FFFFFF;
          border-radius: 14px 14px 0 0;
          border-top: 1px solid rgba(213, 225, 225, 0.4);
        }

        &:nth-last-child(2) {
          background-color: #F4FAFB;
          border-radius: 0 0 14px 14px;
          border-bottom: 1px solid rgba(213, 225, 225, 0.4);
        }

        &:nth-last-child(1) {
          background-color: transparent;
          border-left: none;
          border-right: none;
        }

        .what-price__text {
          font-size: 16px;
        }

        .what-price__text-sub {
          font-size: 12px;
        }

        .what-price__image {
          width: 23px;
          height: auto;
        }

        .what-price__percentage-number {
          font-size: 30px;
        }

        .what-price__point {
          border-left-color: rgba(213, 225, 225, 0.4);
        }

      }

    }

    &__point {
      display: none;
    }

    &__text {
      padding: 15px;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.4;

      &--hidden {
        display: block;
      }

      &-sub {
        font-size: 12px;
        line-height: 1.7;
      }

      &--title {
        font-weight: 400;
      }

      &-desktop {
        display: none;
      }

      &-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__price {
          font-size: 15px;
          font-weight: 600;
          line-height: 1.4;
        }

        &__label {
          font-size: 8px;
          font-weight: 400;
          line-height: 1.6;
        }
      }
    }

    &__mobile-title {
      display: block;
      margin-bottom: 16px;
    }

    &__line {
      & + .what-price__mobile-title {
        margin-top: 25px;
      }
    }

    &-inner {
      gap: 15px 0;
    }

    &__tile {
      padding: 25px 20px;
      border-radius: 10px;

      &-description {
        &__title {
          font-size: 18px;
        }
        &__subtitle {
          font-size: 16px;
        }
      }

      &-details {

        &__footer {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          gap: 25px;
          margin-top: 25px;
          padding: 0;

          &-price {
            justify-content: center;
          }
          &-button {
            justify-content: center;
          }
        }
      }
    }
  }
  /* What is the price */

  /* free estimate */
  .free-estimate {

    &__outer {
      background-image: url('../images/sale/sale-form-mobile.jpg');
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__header {
      font-size: 20px;
    }

    &__content {
      padding: 30px 28px 24px;
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: 24px 0;
      width: 100%;

      &-label {
        display: none;
      }
    }

  }
  /* free estimate */

  /* We are close */
  .we-close {

    &__outer {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__inner {
      gap: 12px;
    }

    &__content {
      &-primary {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 20px;
      }

      &-secondary {
        font-size: 16px;
        margin-top: 14px;
      }
    }
  }
  /* We are close */

  /* Frequently asked Questions */
  .management-questions {

    &__outer {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &__item {

      &-header {
        font-size: 15px;
        padding: 15px;

        &:after {
          min-width: 18px;
          width: 18px;
          height: 18px;
        }

        &__text {
          max-width: 85%;
          flex: auto;
        }
      }

      &-content {
        font-size: 14px;

        &__inner {
          padding: 0 15px 0;
        }
      }

      &-input {
        &:checked {
          & + .management-questions__item-header {
            & + .management-questions__item-content {
              .management-questions__item-content__inner {
                padding-bottom: 15px;
              }
            }
          }
        }
      }

    }

  }
  /* Frequently asked Questions */

  /* We are also ready */
  .we-ready {
    &__outer {
      padding-top: 40px;
      padding-bottom: 40px;

      .tile-counter__title {
        font-size: 18px;
      }
    }

    &__inner {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  /* We are also ready */

  /* bottom feedback form */
  .bottom-feedback {

    &__outer {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__header {
      margin-bottom: 25px;
      text-align: left;
    }

    &__field {
      grid-template-columns: 1fr;
      gap: 20px;

      &--btn {
        height: 62px;
        font-size: 18px;
      }

      &--input {
        height: 71px;
        font-size: 18px;
      }
    }

  }
  /* bottom feedback form */

  /* Tile counter */
  .tile-counter {

    &__title {
      &--big {
        font-size: 18px;
        margin-top: 0;
      }
    }

    &__text {
      &--big {
        font-size: 16px;
        margin-top: 16px;
      }
    }

    &__list {
      &-item {
        margin-top: 16px;
        padding-left: 34px;

        &:before {
          width: 18px;
          height: 18px;
        }
      }
    }

    &--checking {
      grid-template-columns: 1fr;
      grid-column: span 1;
    }

    &--search-for-tenants {
      background-image: url('../images/management/search-for-tenants-mobile.jpg');
      min-height: 500px;
    }

    &--tenant {
      background-image: url('../images/management/tenant-mobile.jpg');
      min-height: auto;
    }

    &--yield {
      background-image: url('../images/management/benefits-mobile.svg');
      background-position: bottom 20px center;
      min-height: 255px;
    }

    &--expertise {
      background-image: url('../images/management/expertise-mobile.jpg');
      min-height: 201px;
    }

    &--technical {
      background-image: none;
    }
  }
  /* Tile counter */

  /* Header line */
  .header-line {
    margin-bottom: 35px;

    &__sub-title {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  /* Header line */

}

@media screen and (max-width: 639px) {
  /* Top banner */
  .intro-banner {
    &__outer {
      padding-bottom: 40px;
    }
  }
  /* Top banner */
}

@media screen and (max-width: 480px) {
  /* Tile counter */
  .tile-counter {
    &--tenant {
      background-position: right -20px center;
      background-size: 110% auto;
    }
  }
  /* Tile counter */
}
