@media screen and (max-width: 1230px) {
  /* How does this work? */
  .does-work__checking-point__text {
    font-size: 16px;
  }
  /* How does this work? */
  /* What is the price */
  .what-price__point-label {
    font-size: 16px;
  }
  .what-price__text--sale {
    font-size: 16px;
  }
  /* What is the price */
}
@media screen and (max-width: 1023px) {
  /* media for BR tag */
  .br-show-tablet {
    display: block;
  }
  /* media for BR tag */
  /* Top banner */
  .intro-banner__outer--rent {
    padding-top: 62px;
    padding-bottom: 36px;
  }
  .intro-banner__outer--sale {
    padding-top: 49px;
    padding-bottom: 68px;
  }
  .intro-banner--rent {
    background: linear-gradient(0deg, #EAECF1, #EAECF1), linear-gradient(106.38deg, rgba(255, 255, 255, 0.9) 1.12%, rgba(255, 255, 255, 0.441) 44.09%, rgba(255, 255, 255, 0.216) 59.21%), url('../images/rent/banner-transparent.png');
    min-height: auto;
    padding: 43px 15px 51px;
    justify-content: flex-end;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 14px;
  }
  .intro-banner--rent .intro-banner__inner {
    margin-left: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .intro-banner--rent .intro-banner__title {
    font-size: 32px;
    line-height: 1.41;
  }
  .intro-banner--rent .intro-banner__text {
    font-size: 16px;
    line-height: 1.62;
  }
  .intro-banner--sale {
    background-image: url('../images/sale/sale-banner-tablet.jpg');
    padding: 0 15px;
    min-height: 369px;
  }
  .intro-banner--sale .intro-banner__inner {
    margin-left: 0;
  }
  .intro-banner--sale .intro-banner__title {
    font-size: 32px;
    line-height: 1.41;
  }
  .intro-banner--sale .intro-banner__title--accent {
    color: #000000;
  }
  .intro-banner--sale .intro-banner__text {
    margin-top: 25px;
  }
  /* Top banner */
  /* How does this work? */
  .does-work {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
  .does-work__outer {
    padding-top: 50px;
    padding-bottom: 32px;
  }
  .does-work__checking-header {
    padding: 25px;
    border-radius: 20px 0 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .does-work__checking-footer {
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
  }
  .does-work__checking-footer > * {
    width: 50%;
  }
  /* How does this work? */
  /* why are we? */
  .why-are__outer {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .why-are__line {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 28px;
  }
  .why-are__line--reverse .why-are__picture {
    order: initial;
  }
  .why-are__line + .why-are__line {
    margin-top: 30px;
  }
  .why-are__content {
    max-width: none;
    width: 100%;
  }
  .why-are__picture-image {
    max-width: none;
    width: 100%;
  }
  /* why are we? */
  /* What is the price */
  .what-price__outer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .what-price__inner {
    border-color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    border-radius: 14px;
  }
  .what-price__inner--sale {
    border-color: rgba(213, 225, 225, 0.4);
  }
  .what-price__line {
    grid-template-columns: 1fr 0.245fr;
  }
  .what-price__line:nth-child(2n) {
    background-color: #FFFFFF;
  }
  .what-price__line:first-of-type {
    border-radius: 14px 14px 0 0;
  }
  .what-price__line:last-of-type {
    border-radius: 0 0 14px 14px;
  }
  .what-price__line--sale {
    grid-template-columns: 1fr 0.245fr 0.245fr;
  }
  .what-price__line--sale .what-price__text {
    font-size: 16px;
  }
  .what-price__line--sale .what-price__text-sub {
    font-size: 12px;
  }
  .what-price__line--sale .what-price__image {
    width: 23px;
    height: auto;
  }
  .what-price__line--sale .what-price__percentage-number {
    font-size: 30px;
  }
  .what-price__line--sale .what-price__point {
    border-left-color: rgba(213, 225, 225, 0.4);
  }
  .what-price__text {
    padding: 25px;
  }
  /* What is the price */
  /* free estimate */
  .free-estimate__outer {
    background-image: url('../images/sale/sale-form-tablet.jpg');
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .free-estimate__inner {
    border-radius: 13px;
  }
  .free-estimate__header {
    font-size: 28px;
    border-radius: 13px 13px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .free-estimate__content {
    padding: 40px;
    border-radius: 0 0 13px 13px;
  }
  .free-estimate__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 26px 20px;
  }
  /* free estimate */
  /* We are close */
  .we-close__outer {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .we-close__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
  .we-close__image {
    max-width: none;
  }
  .we-close__content {
    max-width: none;
  }
  /* We are close */
  /* We are also ready */
  .we-ready__outer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .we-ready__outer .tile-counter__number {
    width: 58px;
    height: 58px;
    font-size: 20px;
  }
  .we-ready__outer .tile-counter__title {
    font-size: 15px;
  }
  /* We are also ready */
  /* bottom feedback form */
  .bottom-feedback__outer {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .bottom-feedback__header {
    margin-bottom: 45px;
  }
  .bottom-feedback__field--btn {
    height: 68px;
    font-size: 22px;
  }
  .bottom-feedback__field--input {
    height: 68px;
    font-size: 22px;
  }
  /* bottom feedback form */
  /* Tile counter */
  .tile-counter {
    padding: 25px;
  }
  .tile-counter__title {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }
  .tile-counter__text {
    font-size: 16px;
  }
  .tile-counter__number {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
  .tile-counter--advertise {
    grid-column: span 1;
    background-image: url('../images/rent/advertise-tablet.jpeg');
  }
  .tile-counter--checking {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 0;
  }
  /* Tile counter */
  /* Header line */
  .header-line {
    margin-bottom: 45px;
  }
  /* Header line */
}
@media screen and (max-width: 991px) {
  /* What is the price */
  .what-price__point-label {
    font-size: 14px;
  }
  .what-price__text--sale {
    font-size: 14px;
  }
  /* What is the price */
}
@media screen and (max-width: 767px) {
  /* media for BR tag */
  .br-show-mobile {
    display: block;
  }
  .br-hidden-mobile {
    display: none;
  }
  /* media for BR tag */
  /* Top banner */
  .intro-banner__outer--rent {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .intro-banner__outer--sale {
    padding-top: 28px;
    padding-bottom: 40px;
  }
  .intro-banner--rent {
    padding: 80px 8px 56px;
  }
  .intro-banner--rent .intro-banner__title {
    font-size: 23px;
  }
  .intro-banner--rent .intro-banner__text {
    font-size: 12px;
    margin-top: 38px;
  }
  .intro-banner--rent .intro-banner__text + .intro-banner__text {
    margin-top: 16px;
  }
  .intro-banner--sale {
    background-image: url('../images/sale/sale-banner-mobile.jpg');
    background-color: #F4F6FB;
    background-size: auto;
    border-radius: 14px;
    padding: 0 10px;
    min-height: 372px;
  }
  .intro-banner--sale .intro-banner__title {
    font-size: 23px;
    line-height: 1.52;
  }
  .intro-banner--sale .intro-banner__text {
    font-size: 12px;
    line-height: 1.67;
    margin-top: 19px;
  }
  /* Top banner */
  /* How does this work? */
  .does-work {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .does-work__outer {
    padding-bottom: 50px;
  }
  .does-work__checking-header {
    border-radius: 20px 20px 0 0;
  }
  .does-work__checking-footer {
    justify-content: center;
    align-items: flex-start;
    border-radius: 0 0 20px 20px;
  }
  .does-work__checking-footer > * {
    width: auto;
  }
  /* How does this work? */
  /* why are we? */
  .why-are--hidden-br {
    display: none;
  }
  .why-are__outer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .why-are__line {
    gap: 12px;
  }
  .why-are__content-title {
    font-size: 18px;
    line-height: 1.5;
  }
  .why-are__content-text {
    font-size: 16px;
    line-height: 1.69;
    margin-top: 12px;
  }
  /* why are we? */
  /* What is the price */
  .what-price__outer {
    padding-bottom: 38px;
  }
  .what-price__inner--sale {
    border: none;
  }
  .what-price__line {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .what-price__line:first-of-type {
    display: none;
  }
  .what-price__line:nth-child(2) {
    border-radius: 14px 14px 0 0;
  }
  .what-price__line--sale {
    border-left: 1px solid rgba(213, 225, 225, 0.4);
    border-right: 1px solid rgba(213, 225, 225, 0.4);
  }
  .what-price__line--sale:nth-child(1n) {
    background-color: #FFFFFF;
  }
  .what-price__line--sale:nth-child(2n + 1) {
    background-color: #F4FAFB;
  }
  .what-price__line--sale:nth-child(2) {
    display: none;
  }
  .what-price__line--sale:nth-child(3) {
    border-radius: 14px 14px 0 0;
    border-top: 1px solid rgba(213, 225, 225, 0.4);
  }
  .what-price__line--sale:nth-child(9) {
    border-radius: 0 0 14px 14px;
    border-bottom: 1px solid rgba(213, 225, 225, 0.4);
  }
  .what-price__line--sale:nth-last-child(3) {
    background-color: #FFFFFF;
    border-radius: 14px 14px 0 0;
    border-top: 1px solid rgba(213, 225, 225, 0.4);
  }
  .what-price__line--sale:nth-last-child(2) {
    background-color: #F4FAFB;
    border-radius: 0 0 14px 14px;
    border-bottom: 1px solid rgba(213, 225, 225, 0.4);
  }
  .what-price__line--sale:nth-last-child(1) {
    background-color: transparent;
    border-left: none;
    border-right: none;
  }
  .what-price__line--sale .what-price__text {
    font-size: 16px;
  }
  .what-price__line--sale .what-price__text-sub {
    font-size: 12px;
  }
  .what-price__line--sale .what-price__image {
    width: 23px;
    height: auto;
  }
  .what-price__line--sale .what-price__percentage-number {
    font-size: 30px;
  }
  .what-price__line--sale .what-price__point {
    border-left-color: rgba(213, 225, 225, 0.4);
  }
  .what-price__point {
    display: none;
  }
  .what-price__text {
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }
  .what-price__text--hidden {
    display: block;
  }
  .what-price__text-sub {
    font-size: 12px;
    line-height: 1.7;
  }
  .what-price__text--title {
    font-weight: 400;
  }
  .what-price__text-desktop {
    display: none;
  }
  .what-price__text-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .what-price__text-mobile__price {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
  }
  .what-price__text-mobile__label {
    font-size: 8px;
    font-weight: 400;
    line-height: 1.6;
  }
  .what-price__mobile-title {
    display: block;
    margin-bottom: 16px;
  }
  .what-price__line + .what-price__mobile-title {
    margin-top: 25px;
  }
  /* What is the price */
  /* free estimate */
  .free-estimate__outer {
    background-image: url('../images/sale/sale-form-mobile.jpg');
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .free-estimate__header {
    font-size: 20px;
  }
  .free-estimate__content {
    padding: 30px 28px 24px;
  }
  .free-estimate__grid {
    grid-template-columns: 1fr;
    gap: 24px 0;
    width: 100%;
  }
  .free-estimate__grid-label {
    display: none;
  }
  /* free estimate */
  /* We are close */
  .we-close__outer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .we-close__inner {
    gap: 12px;
  }
  .we-close__content-primary {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }
  .we-close__content-secondary {
    font-size: 16px;
    margin-top: 14px;
  }
  /* We are close */
  /* We are also ready */
  .we-ready__outer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .we-ready__outer .tile-counter__title {
    font-size: 18px;
  }
  .we-ready__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  /* We are also ready */
  /* bottom feedback form */
  .bottom-feedback__outer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bottom-feedback__header {
    margin-bottom: 25px;
    text-align: left;
  }
  .bottom-feedback__field {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .bottom-feedback__field--btn {
    height: 62px;
    font-size: 18px;
  }
  .bottom-feedback__field--input {
    height: 71px;
    font-size: 18px;
  }
  /* bottom feedback form */
  /* Tile counter */
  .tile-counter--checking {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }
  /* Tile counter */
  /* Header line */
  .header-line {
    margin-bottom: 35px;
  }
  .header-line__sub-title {
    font-size: 18px;
    line-height: 1.5;
  }
  /* Header line */
}
@media screen and (max-width: 639px) {
  /* Top banner */
  .intro-banner__outer {
    padding-bottom: 40px;
  }
  /* Top banner */
}
/*# sourceMappingURL=media.css.map */